* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: url(../img/background.png);
	font-family: 'Exo 2', sans-serif;
	display: flex;
	flex-direction: column;
}

header, main, footer {
	box-sizing: border-box;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
	flex-grow: 1;
}

footer {
	padding: 20px;
	background: black;
	text-align: center;
}

.name {
	font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.55px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.name:hover {
	color: white;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}

ul li {
	float: left;
}

.headerButton{
	color: white;
	display: block;
	height: 50px;
	padding: 0 20px;
	text-decoration: none;
	line-height: 50px;
	transition: 0.5s;
}

.headerButton:hover {
	background: #23262C;
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

.commands-list {
	padding: 20px;
	width: 960px;
}

footer a {
	color: white;
	font-size: 30px;
	margin-left: 10px;
}

footer a:hover {
	color: white;
}

.develop {
	color: white;
	text-decoration: none;
}

.image {
	max-width: 40px;
	max-height: 40px;
	margin-top: -8px;
}

.boosty {
	max-width: 40px;
	max-height: 40px;
	margin-top: -5px;
	margin-left: -10px;
}

.betty {
	max-height: 25%;
	max-width: 25%; 
}

.title-betty {
	font-family: montserrat,sans-serif;
	color: white;
	margin: 1vmin -1.25vmin;
    font-size: 10vmin;
    font-weight: 100;
}

.button {
	text-align: center;
    text-shadow: 0 0 10px #0e111a;
    color: white;
    margin-right: 1vmin;
    padding: 1.75vmin 4vmin;
    border: 3px solid #C02A46;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2vmin;
    transition-duration: .1s;
}

.button:hover {
    animation: button-hover .3s;
    text-shadow: inherit;
    text-decoration: none;
    background-color: #C02A46;
    color: white;
}

div#intro {
	display: inline-block;
	color: white;
    height: 60vh;
    width: 74vmin;
    margin: 6.5vh 9.5vw;
}

.appear-down {
    opacity: 0;
    animation: appear-down .25s cubic-bezier(.715,.745,0,.47) .5s 1 normal forwards;
}

@keyframes appear-down {
	0% {
	transform: translateY(-25px);
    opacity: 0;
	}
	100% {
	transform: translateY(0);
    opacity: 1;
	}
}